# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea
src/main/resources/iblocky-clientmod-0a0ce72a1adb.json
.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
